.pt-xlarge {
    padding-top: 120px;
}
.pt-large {
    padding-top: 90px;
}
.pt-medium {
    padding-top: 60px;
}
.pt-small {
    padding-top: 40px;
}


.pb-xlarge {
    padding-bottom: 120px;
}
.pb-medium {
    padding-bottom: 60px;
}
.pb-small {
    padding-bottom: 40px;
}
.pb-xsmall {
    padding-bottom: 20px;
}

@media(min-width:767px) {
    .pt-md-medium {
        padding-top: 60px;
    }
}