.transition-fade {
    transition: 0.35s;
    filter: blur(0px) grayscale(0%);
    opacity: 1
  }
  
  html.is-animating .transition-fade {
    filter: blur(40px) grayscale(100%);
    opacity: 0
  }

