@font-face {
    font-family: 'Telegraf';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/telegraf/telegraf-regular.eot');
    src: url('/assets/fonts/telegraf/telegraf-regular.woff2') format('woff2'),
         url('/assets/fonts/telegraf/telegraf-regular.woff') format('woff'),
         url('/assets/fonts/telegraf/telegraf-regular.ttf') format('truetype'),
}
@font-face {
    font-family: 'Telegraf';
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/telegraf/telegraf-medium.eot');
    src: url('/assets/fonts/telegraf/telegraf-medium.woff2') format('woff2'),
         url('/assets/fonts/telegraf/telegraf-medium.woff') format('woff'),
         url('/assets/fonts/telegraf/telegraf-medium.ttf') format('truetype'),
}
@font-face {
    font-family: 'Telegraf';
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/telegraf/telegraf-semibold.eot');
    src: url('/assets/fonts/telegraf/telegraf-semibold.woff2') format('woff2'),
         url('/assets/fonts/telegraf/telegraf-semibold.woff') format('woff'),
         url('/assets/fonts/telegraf/telegraf-semibold.ttf') format('truetype'),
}
@font-face {
    font-family: 'Telegraf';
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/telegraf/telegraf-bold.eot');
    src: url('/assets/fonts/telegraf/telegraf-bold.woff2') format('woff2'),
         url('/assets/fonts/telegraf/telegraf-bold.woff') format('woff'),
         url('/assets/fonts/telegraf/telegraf-bold.ttf') format('truetype'),
}

.xl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
}
.xl {
    font-size: 18vw; 
    line-height: 1.1;
    color: var(--color-accent-1);
    font-weight: 700
}
h1, .h1 {
    font-size: 9vw; 
    line-height: 1.1;
}
h2, .h2 {
    font-size: 8vw;
    line-height: 1.15;
}
h3, .h3 {
    font-size: 7vw;
    line-height: 1.2
}
h4, .h4 {
    font-size: 6vw;
    line-height: 1.25
}
h5, .h5 {
    font-size: 5vw;
    line-height: 1.3
}
h6, .h6 {
    font-size: 4vw;
    line-height: 1.4
}
p {
    font-size: 3vw;
    line-height: 1.75;
    font-weight: 400;
    letter-spacing: .05em;
    opacity: .85
}

.line-parent, .word {
    overflow: hidden;
}

.split-text-letters .word {
    margin-bottom: -.2em;
    margin-top: -.2em;
    line-height: 1;
}

.split-text-letters .word .char-parent {
    margin-bottom: -.2em;
    margin-top: -.2em;
    line-height: 1;
    overflow: hidden
}

@media(min-width:767px) {
    .xl {
        font-size: 12vw
    }
    h1, .h1 {
        font-size: 5.2vw
    }
    h2, .h2 {
        font-size: 4.5vw
    }
    h3, .h3 {
        font-size: 4vw
    }
    h4, .h4 {
        font-size: 3vw
    }
    h5, .h5 {
        font-size: 2vw
    }
    h6, .h6 {
        font-size: 1.2vw
    }
    p {
        font-size: 1.15vw
    }
}
