.accordion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-bottom: .5em;
    padding-left: 0;
    list-style: none;
    cursor: pointer;
    transition: all 1.3s cubic-bezier(.79,0,.07,.88);
    z-index: 9;
  }
  
  .accordion .title {
    padding-right: 3.2em;
    transition: 1.3s cubic-bezier(.79,0,.07,.88);
  }
  
  .icon {
    position: absolute;
    top: calc(50% - 13px);
    right: -0.4em;
    width: 28px;
    height: 5px;
    background: var(--color-accent-1);
    border-radius: 2px;
    opacity: 0.7
  }
  
  .icon::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 28px;
    height: 5px;
    background: var(--color-accent-1);
    border-radius: 2px;
    transform: rotate(90deg);
    animation-timing-function: cubic-bezier(.79,0,.07,.88);
    transition: 1.3s
  }
  
  .accordion.open .icon::before {
    transform: rotate(0);
  }
  
  .panel {
    max-height: 0px;
    overflow: hidden;
    transition: all 1.3s cubic-bezier(.79,0,.07,.88)
  }
  .panel p {
    margin: 1em 0;
  }
  
  @media(min-width:767px) {
    .icon {
      right: 4em
    }
    .accordion::after {
      left: -5em;
      font-size: 1vw
    }
  }