</main>
<footer class="site-footer bg-light-2 pt-xxlarge pb-xlarge">
    <div class="footer-parallax">
      <div class="container">
        <div class="row">
          <div class="col-7 col-md-5">
            <p class="h3 mb-5 ">
              Skontaktuj się ze mną 
            </p>
          </div>
          <div class="offset-md-3 col-3 col-md-2">
            <div class="btn-trans-down-75">
              <div data-scroll data-scroll-speed="-2"
              data-scroll-direction="horizontal">
              <a href="/kontakt"
                class="circle-btn magnetic"
                title="Kontakt"
                data-strength="100"
                data-strength-text="50"
              >
                <div class="btn-fill"></div>
                <span class="circle-btn-text">
                  <img src="/assets/img/hands.png" alt="Hands" width="816" height="162" />
                </span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xml:lang="en"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  viewBox="0 0 500 500"
                >
                  <defs>
                    <path
                      id="textcircle"
                      d="M250,400
                                           a150,150 0 0,1 0,-300a150,150 0 0,1 0,300Z"
                      transform="rotate(12,250,250)"
                    />
                  </defs>
                  <g class="textcircle">
                    <text textLength="942">
                      <textPath
                        xlink:href="#textcircle"
                        aria-label="Napisz albo zadzwoń"
                        textLength="942"
                      >
                        &nbsp;Skontaktuj się ze mną | Napisz albo zadzwoń |
                      </textPath>
                    </text>
                  </g>
                </svg>
              </a>
            </div>
            </div>
          </div>
        </div>
        <div class="line-x"></div>
        <div class="buttons-wrap pt-large pt-md-medium pb-xsmall">
            <a href="tel:+48788660190" class="trans-btn magnetic" title="Zadzwoń" data-strength="50" data-strength-text="80">
                <span class="trans-btn-text btn-text">
                  +48 788 660 190
                </span>
            </a>
            <a href="mailto:kontakt@futurewebstudio.pl" class="trans-btn magnetic" title="Napisz" data-strength="50" data-strength-text="80">
                <span class="trans-btn-text btn-text">
                kontakt@futurewebstudio.pl
                </span>
            </a>
        </div>
        <div class="pb-xsmall">

        </div>
    </div>
    </div>
</footer>
</div>
</div>

<script src="/assets/js/vendor.js"></script>
<script src="/assets/js/gsap.js"></script>

<script>

  const swup = new Swup({
  animateHistoryBrowsing: true
  });

  document.addEventListener('swup:contentReplaced', function () {
  GSAPAnimations(); window.scrollTo({ top: 0 });
  });

window.addEventListener('load', function(){
  GSAPAnimations();
});

</script>

</body>
</html>