<section class="hero">
    <div class="hero-wrap container pt-xxlarge pb-xlarge">
      <canvas id="roller"></canvas>
      <div class="hero-gradient-wrap">
        <div class="hero-gradient"></div>
      </div>
      <div class="hero-content">
        <div class="row">
          <div class="col-11 col-md-5">
            <p class="h5 split-text-lines mb-5">
              {{ description }}
            </p>
          </div>
          <div class="offset-7 offset-md-3 col-5 col-md-2 d-none d-md-block">
            <div class="btn-trans-down">
              <div data-scroll data-scroll-speed="-2"
              data-scroll-direction="horizontal">
              <a href="/uslugi"
                class="circle-btn magnetic"
                data-strength="100"
                data-strength-text="50"
              >
                <div class="btn-fill"></div>
                <span class="circle-btn-text">
                  <img src="/assets/img/hands.png" alt="" />
                </span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xml:lang="en"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  viewBox="0 0 500 500"
                >
                  <defs>
                    <path
                      id="textcircle"
                      d="M250,400
                                           a150,150 0 0,1 0,-300a150,150 0 0,1 0,300Z"
                      transform="rotate(12,250,250)"
                    />
                  </defs>
                  <g class="textcircle">
                    <text textLength="942">
                      <textPath
                        xlink:href="#textcircle"
                        aria-label="Napisz albo zadzwoń"
                        textLength="942"
                      >
                        &nbsp;Skontaktuj się ze mną | Napisz albo zadzwoń |
                      </textPath>
                    </text>
                  </g>
                </svg>
              </a>
              </div>
            </div>
          </div>
        </div>
        <div class="line-x"></div>
        <div>
          <h1 class="xl split-text-letters mt-5 mb-5 mb-md-4">{{ title }}</h1>
        </div>
        <div class="line-x"></div>
      </div>
    </div>
  </section>