---
layout: "layouts/base.njk"
title: Główna
description: Meta opis
hero_image: /assets/img/hero/longscroll-mobile.png
---

{% include "sections/hero.njk" %}
<section style="height:100vh"></section>


