---
layout: "layouts/page.njk"
title: Kontakt
description: Skontaktuj się telefonicznie lub mailowo
---

<section class="pb-large">
    <div class="container">
        <div class="row pt-large pb-large">
            <div class="col-md-4">
                <h2 class="h6">
                    Numer telefonu
                </h2>
            </div>
            <div class="col-md-8">
                <a href="#" class="h5">
                    +48 788 660 190
                </a>
            </div>
        </div>
        <div class="line-x"></div>
        <div class="row pt-large pb-large">
            <div class="col-md-4">
                <h2 class="h6">
                    Adres email
                </h2>
            </div>
            <div class="col-md-8">
                <a href="#" class="h5">
                    kontakt@futurewebstudio.pl
                </a>
            </div>
        </div>
        <div class="line-x"></div>
    </div>
</section>