---
layout: "layouts/page.njk"
title: Kontakt
description: Skontaktuj się telefonicznie lub mailowo
hero_image: /assets/img/hero/hand-open.png
---

<section class="pb-xxlarge">
    <div class="container">
        <div class="row pt-large pb-large">
            <div class="offset-md-2 col-md-4">
                <h2 class="h6 mt-1">
                    Numer telefonu
                </h2>
            </div>
            <div class="col-md-6">
                <a href="#" class="h5">
                    +48 788 660 190
                </a>
            </div>
        </div>
        <div class="offset-md-1 col-md-10">
            <div class="line-x"></div>
        </div>
        <div class="row pt-large pb-large">
            <div class="offset-md-2 col-md-4">
                <h2 class="h6 mt-1">
                    Adres email
                </h2>
            </div>
            <div class="col-md-6">
                <a href="#" class="h5">
                    kontakt@futurewebstudio.pl
                </a>
            </div>
        </div>
        <div class="offset-md-1 col-md-10">
            <div class="line-x"></div>
        </div>
    </div>
</section>