---
layout: "layouts/page.njk"
title: O mnie
description: Kilka słów o tym co robię i w czym mogę pomóc
hero_image: /assets/img/hero/hand-thumb.png
---

<section class="pt-large pb-xxlarge">
    <div class="container">
        <div class="row flex-md-row-reverse">
            <div class="offset-md-2 col-md-6">
                <div class="reveal-wrap mb-5 mb-md-0">
                    <img src="/assets/img/about.jpg" alt="" class="reveal-image">
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-center">
                <div>
                    <small class="fade-in">
                        01
                    </small>
                    <h2 class="split-text-letters my-4">
                        Moja wizja
                    </h2>
                    <p class="split-text-lines mb-5">
                        Tworzę wyłącznie unikalne projekty, które mocno
                        wyróżniają się na tle konkurencji. Bez
                        sztampowych szablonów i kreatorów witryn typu
                        Elementor. Zobacz jakiej jakośći możesz
                        oczekiwać współpracując ze mną.
                    </p>
                    <div class="fade-in">
                        <a href="/realizacje" class="trans-btn magnetic" title="Zobacz realizacje" data-strength="50" data-strength-text="80">
                            <span class="trans-btn-text btn-text">
                              Zobacz realizacje
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>