<section class="pb-large">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="h6 mb-5">
                    Showreel
                </h2>
            </div>
            <div class="col-md-8">
                <video src="/assets/img/showreel.mp4" loop autoplay></video>
            </div>
        </div>
    </div>
</section>