<section class="pb-large">
    <div class="container">
        {% for post in collections.works.slice(0,3) %}
            <div class="pt-medium pb-medium">
                <h3 class="h4 split-text-lines">{{ post.data.title }}</h3>
            </div>
            <div class="line-x"></div>  
        {% endfor %}
    </div>
</section>