@use "base/colors.scss";
@use "base/global.scss";
@use "base/grid.scss";
@use "base/transition.scss";
@use "base/scroll.scss";
@use "base/typography.scss";
@use "base/spacings.scss";

@use "components/header.scss";
@use "components/three.scss";
@use "components/three-scroll.scss";
@use "components/button.scss";
@use "components/accordion.scss";
@use "components/social-icons.scss";

@use "sections/hero.scss";
@use "sections/footer.scss";



.line-x {
    width: 100%;
    height: 1px;
    background-color: rgba(116, 116, 116, 0.4)
}

.line-left {
  transform: translateX(-10%);
  width: 110%;
  transition-property: width;
}

.line-right {
  width: 110%;
  transition-property: width;
}

.reveal-wrap {
    visibility: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden
  }
  
  .reveal-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform-origin: left
  }






